
{% extends "base.html" %}

{% block title %}Contact Us - Helping Hand Together{% endblock %}

{% block content %}
<div class="container my-5">
    <h1 class="text-center mb-5">Contact Us</h1>
    
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body p-5">
                    <h4 class="mb-4">Get in Touch</h4>
                    <p class="mb-4">Have questions? We'd love to hear from you. Send us a message and we'll respond as soon as possible.</p>
                    
                    <div class="mb-4">
                        <h5><i class="bi bi-envelope"></i> Email</h5>
                        <p>support@helpinghandtogether.org</p>
                    </div>
                    
                    <div class="mb-4">
                        <h5><i class="bi bi-telephone"></i> Phone</h5>
                        <p>+1 (555) 123-4567</p>
                    </div>
                    
                    <div>
                        <h5><i class="bi bi-geo-alt"></i> Address</h5>
                        <p>123 Charity Lane<br>Giving City, GC 12345</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
